.delete-button {
    margin-right: 0.15rem;
}

.update-button {
    margin-left: 0.15rem;
}

table{
    background-color: rgb(233, 233, 233);
    border-radius: 6px;
}

mat-paginator{
    background-color: rgb(233, 233, 233);
}

th{
    border-radius: 8px;
}
